WEAVIATE_API_USER=api-users
WEAVIATE_API_KEY=api-key
WEAVIATE_HOST=localhost
WEAVIATE_PORT=9900
WEAVIATE_GRPC_PORT=50051

REDIS_PORT=6379
REDIS_PASSWORD=12345678

POSTGRES_USER=pgad
POSTGRES_PASSWORD=12345678
POSTGRES_DATABASE=ragservice
POSTGRES_PORT=5432
POSTGRES_HOST=localhost

# JWT Settings
SECRET_KEY=your-secret-key-here  # Change this in production! Generate a good secret key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# Azure OpenAI Settings
AZURE_OPENAI_API_KEY=your-azure-openai-api-key
AZURE_OPENAI_ENDPOINT=your-azure-openai-endpoint
AZURE_OPENAI_VERSION=2024-02-15-preview
AZURE_OPENAI_CHAT_MODEL_DEPLOYMENT=gpt-41-deployment
AZURE_OPENAI_EMBEDDINGS_DEPLOYMENT=text-embedding-ada-002-deployment